.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.text-center {
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.card {
    padding: .5em;
    border: none;
}