<script>
  $(document).ready(function () {
    $('.slider').slider();

    $('.carousel').carousel();


    // $('.tap-target').tapTarget('open');

  });
</script>
<div style="height: 100%;" class="gradient">

  <div class="geoback" style: "z-index: 0">

    <div class="row">


      <div class="col s12 m12 l12 center-align">
        <div style=" overflow: hidden"class="container center-align">
        <a href="/main">
          <h3 style=" opacity: 0.9;font-size:3em; margin-top:10%;z-index: 100; border-radius: 15px;margin-bottom: 10%;"
            class="Julius  white-text hoverable center-align flow-text"> Bwilmott.com</h3>
        </a>
      </div>
    </div>
    <div class="row">
      <div class=" col s12 m12 l12">
        <div class="container center-align">
          <p style="font-weight:lighter;margin-bottom: 2em;margin-top: 10%;" class="Julius white-text">Hi, my name is Brandon Wimott, Im a junior web developer from Virginia Currently residing in Nashville,TN. I specialize
            in front-end development and can also implement backend development as well. Take a look at my contact information
            as well as my Github account by clicking my portfolio link above or using the icons below</p>
          <div class="divider"></div>

          <img style="height: 7em; margin-top: 1em; margin-bottom: 5em;" src="images/crop.png" alt="">





          <div style=" height: 200px;" class="carousel">
            <a class="carousel-item" href="https://www.facebook.com/brandon.wilmott" target="_blank">
              <img style="height: 40px; width: auto" src="images/facebook.png" alt="">
            </a>
            <a class=" carousel-item" href="https://github.com/bwilm" target="_blank">
              <img style="height: 40px; width: auto;" src="images/github.png" alt="">
            </a>
            <a class="carousel-item" href="https://twitter.com/brandonwilmott?lang=en" target="_blank">
              <img style="height: 40px; width: auto;" src="images/twitter.png" alt="">
            </a>
            <a class="carousel-item" href="https://www.linkedin.com/in/brandon-wilmott-58333650/" target="_blank">
              <img style="height: 40px; width: auto" src="images/linked.png" alt="">
            </a>
            <a class="carousel-item" href="mailto:bwilmott.dev@gmail.com?Subject=Hello" target="_blank">
              <img style="height: 40px; width: auto;" src="images/email.png" alt="">
            </a>
          </div>
        </div>






      </div>

    </div>
  </div>
</div>

<!-- <div style="margin-top: 10em; border-radius: 25px"class="container"> -->
<!-- <a id="menu" class="waves-effect waves-light btn btn-floating center-align z-depth-5 pulse" ><i class="material-icons">menu</i></a>

          <!-- Tap Target Structure -->
<!-- <div class="tap-target teal lighten-3" data-activates="menu">
            <div class="tap-target-content">
              <h5>Title</h5>
              <p>A bunch of text</p>
            </div>
          </div> -->
<!-- </div>
        </div> -->





<!-- Element Showed -->