<!-- Shows the title, author full name, category, MM/DD/YYYY HH:MM AM/PM date, 
and content of the single blog post with the given id
Should have an edit button that navigates to the update page
Should have a delete button that asks for confirmation before deleting, 
and then navigates back to the post list page when successfully deleted
Hints/Reminders:
Time management is key to completing this project. 
There's a lot going on here, but you've done it all already. 
Don't wait to the last minute.
Remember that we rarely create/access/update DOM elements 
ourselves from code in Angular. Use data-binding as much as possible. -->
<div class="container-fluid">
{{singleblog.Posts}}
{{singleblog.user}}
{{singleblog.id}}
{{singleblog.time}}
</div>
