<!-- <ul class="nav nav-tabs">
        
    <li class="nav-item">
    <a class="nav-link active" href="#">List</a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" href="#">Compose</a>
    </li>
    
    <li class="nav-item">
    <a class="nav-link" href="#">Update</a>
    </li>
    
    </ul>


<div class="column full">
    <br>
        <h1 class="size-48 is-title1-48 is-title-bold is-upper">List:</h1>
   </div>
   <br>
   <br>



   <div class="column full">
        <hr>
        
    </div>


<div class="fluid container">
    
    <div class="post" ng-repeat = "p in posts">

            <div class="column full">
                    <div class="center">
                        <i class="icon ion-chatbox-working size-24"></i>
                        <h1 style="font-size: 0.3em">BRAND NEW</h1>
                        <div class="display">
                            <h1>By {{p.authorfirstname}},{{p.authorlastname}}</h1>
                        </div>
                    </div>
                </div>

            <div class="column full">
                    <h1 class="size-48 is-title1-48 is-title-bold is-upper">{{p.title}}</h1>
               </div>

               <div class="column full">
                    <hr>
                    <h5>{{p.createdAt | date: 'short'}}</h5>
                </div>
        
        <br>
       
        <br>
        
        <br>
        <button type="button" class="btn btn-outline-success">
                <a ng-href={{p.id}}>Select Blog</a>
        </button>

    </div>
    </div> -->

    TEST PLEASE