<script>

$(document).ready(function(){
 $('.slider').slider();
   $(".button-collapse").sideNav();
     $(".button-collapse").sideNav();
       $('.carousel').carousel();

       $('.carousel.carousel-slider').carousel({fullWidth: false});

});




</script>


<ul id="dropdown1" class="dropdown-content transparent">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper deep-orange darken-4  hoverable z-depth-5">
    <a href="/" class="brand-logo"><img style="height: 90px; width: auto; padding-bottom: 20px;"class="transparent"src="/images/bwlogo.png" alt=""></a>
    <ul class="right hide-on-med-and-down">

      <li class="quantico"style="font-weight: bolder"><a style="font-size: 20px;" href="/">home</a></li>
      <!-- Dropdown Trigger -->

    </ul>
  </div>
</nav>




  <!-- <div class="carousel">
    <a class="carousel-item" href="http://angular.io"><img src="/images/angular.png"></a>
    <a class="carousel-item" href="http://jquery.com"><img src="/images/jquery.png"></a>
    <a class="carousel-item" href="https://developer.apple.com/swift/"><img src="/images/swift.png"></a>
      <a class="carousel-item" href="http://typescriptlang.org"><img src="/images/typescript.png"></a>
        <a class="carousel-item" href="http://sass-lang.com"><img src="/images/sass.png"></a>
          <a class="carousel-item" href="http://getbootstrap.com"><img src="/images/bootstrap.png"></a>
            <a class="carousel-item" href=""><img src="/images/html5.png"></a>
              <a class="carousel-item" href=""><img src="/images/css3.png"></a>
                <a class="carousel-item" href="http://javascript.com"><img src="/images/javascript.png"></a>
                  <a class="carousel-item" href="http://nodejs.org"><img src="/images/nodejs.png"></a>
                    <a class="carousel-item" href="http://materializecss.com"><img src="/images/materialize.png"></a>
                      <a class="carousel-item" href="http://mysql.com"><img src="/images/mysql.png"></a>
                        <a class="carousel-item" href="http://mongodb.com"><img src="/images/mongo.png"></a>

  </div> -->


    <div class="row">
      <div  style="margin-top: 1em;"class=" col s12 m6 l12 center-align">
  <img style="height: 20em;margin-left:0.5em"src="images/cropbw.png" alt="">
</div>
  <div class="col s12 m6 l12 center-align">
    <div class="divider"></div>
    <div style= "overflow: hidden;"class="container">
    <p style="font-size: 3em;" class=" Julius">Bwilmott.com</p>
    </div>
    <div class="divider"></div>
  <h5 style="margin-top: 2em;font-weight:lighter;"class="Julius">Building Modern and responsive sites for this generation of consumers. </h5>
</div>



  </div>
  </div>


  <div class="divider"></div>
 <div class="container center-align">
  <h4 style="margin-bottom: 1em;"class= "Julius"> Completed Projects</h4>
  </div>

  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="images/justdoitss1.png">
       
      </div>
      <div class="card-content">
        <p>
          Basic toDo application that persist data using Realm. Chameleon framework for colors and UI. As you add more items to categories the colors gradient from light to dark. Cells are swipeable for deletion
          pods used:
          SwipeCellKit, ChameleonFramework, RealmSwift</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/bwilm/justdoit/">github site/code</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="images/coinscout1.png">
       
      </div>
      <div class="card-content">
        <p>This application uses a basic api to pull down realtime bitcoin pricing and then uses a UIpicker for UI w.different countries. 
          ChameleonFramework is used for coloring and will change color everytime the app reopens AlamoFire is used as well as SwiftyJSON
          </p>
      </div>
      <div class="card-action">
        <a href="https://github.com/bwilm/coinscout/">github site/code</a>
      </div>
    </div>
  </div>
  </div>
  
  
<div class="container center-align">
  <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-image">
            <img src="images/ecommerce.png">
            
          </div>
          <div class="card-content">
            <p>This E-commerce site is a simple layout for any business that lets you display items for sale and allows customers to checkout using stripe checkout method.</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/bwilm/Covalence_ecommerce">Github source code</a>
          </div>
        </div>
      </div>
      <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
              <img src="images/proximolink.png">
             
            </div>
            <div class="card-content">
              <p>Proximo is a fun restraunt app that lets you choose from local images to decide on a place to eat or a place to drink. This applicaiton is built with a nodejs backend, Angular on the front-end,utilizing Google API</p>
            </div>
            <div class="card-action">
              <a href="http://proximo.life">proximo.life</a>
            </div>
          </div>
        </div>
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="images/twitterbot.png">
       
      </div>
      <div class="card-content">
        <p>Simple Node.js applciation that uses twitter API to post tweets and retrieve tweets according to search//adding intergration for user inputs</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/bwilm/twitterbot">github</a>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m12">
  <div class="card">
    <div class="card-image">
      <img src="images/bobbys.png">
     
    </div>
    <div class="card-content">
      <p>Bobby's is a fictional restraunt landing website with a modern design and layouts</p>
    </div>
    <div class="card-action">
      <a href="https://bobbys.herokuapp.com/">heroku site</a>
    </div>
  </div>
</div>
</div>



  <div class="divider"></div>


<div class="containern center-align">
  <h4 style="margin-top: 1em;margin-bottom: 0em;"class="Julius"> Current Stack</h4>
  </div>
  <div class="divider"></div>



<div class="carousel"style="margin-top: 0em;">
<div class="carousel-item">
      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/angular.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>AngularJS</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">

      <div  style="border-radius: 15px" class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/javascript.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>javascript</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/jquery.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>jQuery</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style=" height: 90px"src="images/swift.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Swift</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
  
  
    <div class="carousel-item">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style=" height: 90px;"src="images/ts.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Typescript</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/sass.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Sass</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px"src="images/Bootstrap.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>Bootsrap</p>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">

      <div style="border-radius: 15px" class="card horizontal hoverable z-depth-5 transparent">
        <div class="card-image">
          <img style="height: 90px;"src="images/html5.png">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>HTML5</p>
          </div>
          <div class="card-action">
            <a class="white-text" href="" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  
    
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height: 90px"src="images/css3_2.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>CSS3</p>
            </div>
            <div class="card-action">
              <a class="white-text" href="" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img src="images/nodejs.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>nodejs</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height:90px;"src="images/materialize.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Materialize</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height:90px"src="images/mysql_2.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Mysql</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
    
   
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img style="height: 90px"src="images/mongo.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Mongodb</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div style="border-radius: 15px"class="card horizontal hoverable z-depth-5 transparent">
          <div class="card-image">
            <img src="images/heroku.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>heroku</p>
            </div>
            <div class="card-action">

            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  </div>






  <div class="fixed-action-btn  ">
    <a class="btn-floating btn-large red darken-4">
      <i class="large material-icons">person_outline</i>
    </a>
    <ul>
        <li><a class="btn-floating green" href="mailto:bwilmott.dev@gmail.com?Subject=Hello"target="_blank"><img  style= "height: 30px; padding-top: 10px;"src="images/email.png" alt=""></a></li>
        <li><a class="btn-floating purple lighten-2" href="https://www.linkedin.com/in/brandon-wilmott-58333650/"target="_blank"><img  style= "height: 30px; padding-top: 10px;"src="images/linked.png" alt=""></a></li>

      <li><a class="btn-floating red" href="https://github.com/bwilm"target="_blank"><img  style= "height: 30px; padding-top: 10px;"src="images/github.png" alt=""></a></li>
      <li><a class="btn-floating blue darken-1"href="https://www.facebook.com/brandon.wilmott"target="_blank"><img  style= "height: 30px; padding-top: 10px;"src="images/facebook.png" alt=""></a></li>
      <li><a class="btn-floating blue lighten-2" href="https://twitter.com/brandonwilmott?lang=en"target="_blank"><img  style= "height: 30px; padding-top: 10px;"src="images/twitter.png" alt=""></a></li>

    </ul>
  </div>
